.hero-section{
    min-height: calc(100vh - 110px);
}

.hero {
    @extend %displayGrid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;

    @include md{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 5rem;

    }


    .hero__article {
        padding: 2rem 1rem;
        @extend %displayflex;
        flex-direction: column;

        .title{
            font-size: 2.2rem;
            text-align: center;
        }
    
        p{
            padding: 1rem;
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .hero__img {
        @extend %borderImg;

        @include md{
            min-height: 400px;
        }
    }


}

.hero__img {
    @extend %borderImg;
}
