.hero-hidro{
    padding: 0;

    @include md{
        grid-template-columns: 1fr;
    }

    @include lg{
        grid-template-columns: 1fr 1fr;
    }
    
    p{
        padding-inline: 0 !important;

        @include md{
            padding-inline: 1rem !important;
        }
        @include lg{
            padding-inline: 0 !important;
        }
    }

    .article-hidro{
        padding: 1rem 0 0 0;

        @include md{
            padding: 3rem;
        }
        @include lg{
            padding: 0rem;
        }
    }

    .hero__img-hidro{
        min-width: 300px;
        min-height: 350px;
        object-position: left ;

        @include md{
            min-width: 320px;
        }

    }
}

.hero-reg{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    @include lg{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .article-hidro{

        @include lg{
            grid-column: 2/3;
            grid-row: 1/2;
        }

    }
        
    .hero__reg-img{

        @include lg{
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

}
